body {
	color: #333333;
	background-color: #FDFDFD;
	margin: 10px 40px;
}

h1 { text-align:center }
h1.nomargin { margin: 20px 0 0 }
h2 { text-align:center }

h2.nomargin {
margin: 20px 0 0;
text-align:center;
}

.subhead {
text-align: center;
font-size: 10pt;
}

.subheadpic {
margin: auto;
text-align: center;
font-size: 10pt;
padding: 0;
}

.ctr { text-align:center }

.ctrgap {
margin: 10px 0 0;
text-align:center
}

.ulSpdRdFourHeader {
	width: 400px;
	margin: 10px auto;
}

.links {
margin: 2px auto;
text-align:center
}

ul.spdRdFour {
	width: 400px;
	margin: 10px auto;
    margin-top: -10px;
}

P.picTwoThreeSeven {
	width: 237px;
	margin: 10px auto 0;
    padding: 0;
}

P.picTwoFifty {
	width: 250px;
	margin: 10px auto 0;
    padding: 0;
}

P.picThree {
	width: 300px;
	margin: 10px auto 0;
    padding: 0;
}

P.spdRd {
	width: 300px;
	margin: 10px auto;
}

P.spdRdTwoSixSeven {
	width: 267px;
	margin: 10px auto;
}

P.spdRdFour {
	width: 400px;
	margin: 10px auto;
}

P.spdRdFourFifty {
	width: 450px;
	margin: 10px auto;
}

P.spdRdFourEighty {
	width: 480px;
	margin: 10px auto;
}

a:link {color: #5757FF; text-decoration: none}
a:visited {color: #5757FF; text-decoration: none}
/* a:visited {color: #1FCB4A; text-decoration: none} */ 
a:hover {color: #5757FF; text-decoration: underline}
a:active {color: #5757FF; text-decoration: none}
